/*Standaardopmaak*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Yusei Magic', sans-serif;
    background-image: linear-gradient(to bottom right, #ffffff, #cfffca);
}

header {
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
    border: 10px solid #003f00;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;
    color: #008000;
    text-align: center;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 100px;
    color: #008000;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

a {
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: #d0d0d0;
}

hr {
    margin-top: 100px;
    border: 5px solid #003f00;
    background-color: #003f00;
}


/*Navbar*/
nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    width: 97.8vw;
}

nav a {
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0 10px 0;
}

nav div {
    flex-grow: 1;
    text-align: center;
    background-color: #008000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

nav div:hover, nav div.selected {
    background-color: #003f00;
}

nav.sticky {
    position: fixed;
    top: 0;
}


/*Sections*/
section.title {
    margin-top: 10px;
    font-size: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.text {
    background-color: #008000;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*Figures*/

figure img {
    width: 100%;
}

figcaption {
    font-style: italic;
    font-size: 12px;
}


/*Grid*/
.grid-container {
    display: grid;
    height: 500px;
    grid-template-columns: auto auto;
    justify-content: space-around;
    column-gap: 10px;
    /*margin-bottom: -300px;*/
    overflow: auto;
}

.grid-item {
    background-color: #008000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow: scroll;
}

.grid-item img {
    height: 100%;
}

.grid-item h3 {
    color: #ffffff;
}


/*Image Galleries*/
.imageGallery {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.imageGallery img {
    width: 48%;
    height: auto;
}

.prototypeGallery {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.prototypeGallery img {
    width: 25%;
    height: auto;
}

.researchImages {
    width: 50%;
}


/*Scrollbar*/
::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #003f00;
}

::-webkit-scrollbar-thumb {
    background-color: #008000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a8c67;
}


/*Selection*/
::selection {
    background-color: #d0d0d0;
    color: #003f00;
}


/*Footer*/
footer {
    color: #ffffff;
    background-color: #008000;
    border: 10px solid #003f00;
    text-align: center;
    margin-top: 100px;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials div {
    padding: 20px;
}

#copyright {
    font-size: 12px;
}

/*Mobile view*/
@media screen and (max-width: 500px){
    nav {
        display: block;
        width: 96vw;
    }
    h2 {
        margin-top: 300px;
    }
    .grid-container {
        height: 325px;
    }
    .socials {
        font-size: 14px;
    }
    .imageGallery img {
        width: 100%;
    }
    .prototypeGallery img {
        width: 48%;
    }
}